@page "/"
@using DemoAssets = kwd.BoxOBlazor.Demo.Assets;

@inject IOptions<SiteConfig> siteConfig
<TilePanel BasicTiles="@Items">
    <ChildContent>
        <Tile Title="About"
              Description="A developers playground for various experiments"
              OpenUrl="@($"/About")" />
        <Tile Title="SPA" 
              Description="The single page app / progressive web app version"
              OpenUrl="@siteConfig.Value.ForBrowserSite"
        />

        <Tile Title="Blazor migration"
              OpenUrl="/Migration"
              Description="notes and samples to help migrate from blazor to razor" />

        <Tile Title="JS Interop"
              Description="Demo basic javascript interop, with a prompt"
              OpenUrl="@($"{DemoPath}/Interop")">
            <IconArea>
                <span class="icon oi oi-audio-spectrum" aria-hidden="true"></span>
            </IconArea>
        </Tile>

        <Tile Title="Color tool"
              Description="Demo richer blazor updates as a simple color tool"
              OpenUrl="@($"{DemoPath}/ColorTool")">
            <IconArea>
                <span class="icon oi oi-fire" aria-hidden="true"></span>
            </IconArea>
        </Tile>

        <Tile Title="Misbehave" OpenUrl="@($"{DemoPath}/Misbehave")">
            <DescriptionArea>
                Behaviour with various errors
            </DescriptionArea>
            <IconArea>
                <span class="icon oi oi-warning" aria-hidden="true"></span>
            </IconArea>
        </Tile>

        <Tile Title="Alarm clock"
              Description="Demo richer blazor updates as a simple color tool"
              OpenUrl="@($"{DemoPath}/AlarmClock")"
              IconUrl="@DemoAssets.Img.AlarmClock">
        </Tile>

        <Tile Title="Local storage" OpenUrl="@($"{DemoPath}/LocalStorage")">
            <DescriptionArea>
                Demo using browser local storage for cross tab data
            </DescriptionArea>
            <IconArea>
                <span class="icon oi oi-browser" aria-hidden="true"></span>
            </IconArea>
        </Tile>

    </ChildContent>
</TilePanel>
@code {
    public static readonly string DemoPath = "/demo";

    private BasicTile[] Items = new BasicTile[]
    {
        //A simple item described via text.
        new BasicTile
        {
            Title = "Log viewer",
            Description = "View latest logging events",
            OpenUrl = $"{DemoPath}/LogView",
            IconUrl =  DemoAssets.Img.Log
        }
        };

    private static string LongestText
    {

        get
        {
            var longest =
                "Created signs. " +
                "Fruit second land isn't, moveth land fish greater i he life so you're. " +
                "Great subdue was land the firmament yielding likeness were ";

            longest = longest + longest.Length + "midst creature it gathering. I in fly third shall is.";
            return longest;
        }
    }

}
